body {
  background-color: rgb(228, 203, 222);
  color: rgb(16, 1, 1);
}

.App {
  text-align: center;
}

.done .taskText {
  text-decoration: line-through;
  opacity: 0.5;
}

.card {
  margin-bottom: 20px;
}

.taskBg {
  background-color: rgb(199, 58, 150);
  border-radius: 6px;
  margin-bottom: 20px;
  padding: 10px 140px 10px 15px;
  text-align: left;
  font-size: 22px;
  position: relative;
}

.taskBg div {
  display: flex;
  align-items: center;
}

.taskBg .iconsWrap {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  width: auto;
  display: inline-block;
}

.taskBg .iconsWrap span {
  display: inline-block;
  margin: 0px 10px 0 10px;
  cursor: pointer;
  color: #65c654;
}


.taskBg .iconsWrap span:focus-visible {
  outline: none;
}

.taskBg .iconsWrap span:hover {
  color: yellow;
}

.mr-20 {
  margin-right: 20px;
}

.taskNumber {
  color: rgb(250, 247, 249);
  border: 1px solid rgb(250, 248, 250);
  border-radius: 50%;
  width: 26px;
  height: 26px;
  display: flex;
  text-align: center;
  font-size: 14px;
  margin-right: 8px;
  align-items: center;
  justify-content: center;
}

.taskText {
  flex: 1;
}